html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f5f8f9;
  padding: 70px 0;

  @include device(mobile){
    padding: 20px 0;
  }
}

*{
  outline: none !important;

  &:focus, &:active{
    outline: none !important;
    box-shadow: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $blue;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

button{
  cursor: pointer;
}

main{
  overflow-x: hidden;
  min-height: 100%;
}
