// import google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

// set font variables
$font-body: 'Open Sans', sans-serif;

body {
  font-family: $font-body;
  font-size: 14px;
  color: $black-soft;
}

h3{
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
h4{
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

h6{
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
