.btn{
    $self: &;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #727e88;
    border-radius: 3px;
    padding: 13px 20px;
    background-color: $white;
    color: #727e88;
    display: inline-flex;
    align-items: center;

    ion-icon{
        color: $light-grey;
        font-size: 28px;
        margin-right: 25px;
    }

    &--sm{
        padding: 10px 20px;
        font-size: 12px;
    }

    &--xs{
        padding: 7px;
        font-size: 12px;
        ion-icon{
            font-size: 16px;
        }
    }

    &--default{
        @include button-variant(#727e88, #ecf1f5, #ecf1f5)
    }

    &--primary {
        @include button-variant($white, $primary, $primary);
    }

    &--outline-primary{
        @include button-variant($primary, $white, $primary);
    }

    &--link{
        @include button-variant($primary, transparent, transparent);
        font-size: 14px;
        padding: 10px 15px;
    }

    &--transparent{
        padding: 20px;
        border: none;
        background-color: transparent;
        ion-icon{
            margin-right: 0;
        }
    }
}