.card{
    background-color: $white;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 1px 0px 6px rgba(#727e88, 0.28);
    margin-bottom: 30px;

    &__header {
        padding: 20px;
        padding-bottom: 0;
        position: relative;
        z-index: 2;

        @include device(mobile){
            .btn{
                &--outline-primary{
                    background-color: transparent;
                    border: none;
                    padding: 0;
                }
            }
        }
    }

    &__body {
        padding: 20px;
        position: relative;
    }
}