.form-group{
    position: relative;
    margin-bottom: 20px;
    margin-top: 5px;

    input{
        padding: 8px 0;
        border: none;
        border-bottom: 1px solid #d0dce7;
        border-radius: 0;
        font-size: 16px;
        line-height: 24px;
        background: rgba($white, 0);
        position: relative;
        z-index: 1;
        width: 100%;
        box-shadow: none !important;

        &:focus, &:active{
            border-color: $primary;
            box-shadow: none !important;
            background: rgba($white, 0);
        }

        &:focus, &:valid{
            ~ label{
                color: $light-grey;
                top: -9px;
                transform: translateY(0);
                transition: all 0.3s ease-in-out;
                z-index: 1;
            }
        }
    }

    label{
        position: absolute;
        font-size: 12px;
        color: $light-grey;
        text-transform: uppercase;
        margin: 0;
        padding: 2px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
        background-color: $white;
    }
}