.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include device(desktop-up) {
        max-width: 1170px;
    }

    @include device(desktop) {
        max-width: 960px;
    }

    @include device(tablet) {
        max-width: 720px;
    }

    @include device(mobile) {
        max-width: 540px;
        padding: 0;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-auto{
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;

    @include device(mobile) {
        width: 100%;
        flex: 0 0 100%;
    }
}