nav{
    display: flex;
    padding-left: 249px;
    padding-right: 22px;
    background-color: $white;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-shadow: 1px 0px 6px rgba(#727e88, 0.28);
    overflow: hidden;
    @include device(tablet){
        position: relative;
        padding: 0 20px;
    }
    @include device(mobile){
        position: relative;
        padding: 0 20px;
        max-height: 60px;

        &:after{
            position: absolute;
            width: 50px;
            height: 100%;
            content: "";
            background: $white;
            background: linear-gradient(90deg, rgba($white,0.5) 0%, rgba($white,1) 100%);
            right: 0;
            top: 0;
        }
    }
    .nav{
        display: flex;
        flex-basis: auto;
        align-items: center;
        margin: 0;
        overflow-x: auto;

        @include device(mobile){
            height: 80px;
        }

        &__item{
            display: flex;
            position: relative;
            margin-right: 30px;

            &__link{
                font-size: 15px;
                color: $black-soft;
                padding: 20px 0;
                position: relative;
                border-bottom: 2px solid transparent;
                text-transform: uppercase;

                @include device(mobile){
                    padding-top: 0;
                }

                &__btn{
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    color: $light-grey;
                    padding: 15px 0;

                    ion-icon{
                        font-size: 28px;
                        margin-right: 20px;
                    }

                    span{
                        font-weight: 600;
                        margin-right: 7px;
                        font-size: 14px;
                        color: $black-soft;
                    }

                    &:hover{
                        color: $primary;
                    }
                }

                &:hover{
                    color: $primary;
                }

                &--active{
                    border-color: $primary;
                }
            }
        }
    }
}