#profile-header{
    @include device(mobile){
        background-color: transparent;
    }
}
.profile{
    display: flex;
    align-items: center;
    @include device(mobile){
        flex-direction: column;
    }
    &__avatar {
        $self: &;
        position: relative;
        z-index: 3;
        width: 200px;
        height: 200px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex: 0 0 200px;
        margin-right: 27px;
        box-shadow: 1px 0px 24px rgba(#bdc4c9, 0.7);
        background-color: $white;
        
        @include device(mobile){
            width: 127px;
            height: 127px;
            flex: 0 0 127px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }

        &__action{
            position: absolute;
            bottom: 0px;
            left: 0px;
            transition: all 0.3s ease-in-out;
            opacity: 0;

            input{
                display: none;
            }
            
            a{
                font-size: 30px;
                color: $light-grey;
            }
        }

        &:hover{
            #{ $self }__action{
                opacity: 1;
            }
        }
    }

    &__body{
        flex: 1;
        &__info {
            position: relative;
            z-index: 2;
            h4{
                margin-bottom: 17px;
                color: $black-soft;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 220px;
                white-space: nowrap;
                @include device(mobile){
                    text-align: center;
                    max-width: unset;
                    white-space: normal;
                }
            }
            p{
                display: flex;
                margin-bottom: 15px;
                color: $light-grey;
                align-items: center;

                ion-icon{
                    font-size: 22px;
                    margin-right: 10px;
                }
            }
        }
        &__stats{
            display: flex;
            align-items: center;
            position: relative;
            z-index: 2;
            @include device(tablet){
                flex-direction: column;
                align-items: flex-end;
            }
            @include device(mobile){
                flex-direction: column;
                align-items: flex-start;
            }
            .stars{
                display: flex;
                margin-right: 30px;

                @include device(tablet){
                    margin-right: 0;
                    margin-bottom: 15px;
                }

                @include device(mobile){
                    margin-right: 0;
                    margin-bottom: 15px;
                }

                ion-icon{
                    font-size: 24px;

                    @include device(mobile){
                        color: $primary;
                    }

                    + ion-icon{
                        margin-left: 6px;
                    }
                }
            }

            p{
                display: flex;
                font-size: 13px;

                @include device(mobile){
                    margin-bottom: 25px;
                }

                span{
                    margin-right: 17px;
                    font-weight: 600;
                }
            }

            .btn-followers{
                display: flex;
                align-items: center;
                font-size: 13px;
                color: $light-grey;
        
                ion-icon{
                    font-size: 28px;
                    margin-right: 20px;
                }
        
                span{
                    font-weight: 600;
                    margin-right: 7px;
                    font-size: 14px;
                    color: $black-soft;
                }
        
                &:hover{
                    color: $primary;
                }
            }

        }
    }

    &__about{
        &__item{
            display: flex;
            border-bottom: 1px solid $white;
            position: relative;
            h6, p{
                padding: 11px 6px;
                padding-right: 25px;
                background-color: #f5f8f8;
                display: flex;
                align-items: center;

                @include device(mobile){
                    background-color: transparent;
                    padding: 10px 0;
                }

                a{
                    color: $black-soft;
                }

                ion-icon{
                    margin-right: 10px;
                    color: $light-grey;
                    font-size: 22px;
                }
            }

            &__action{
                background-color: #ecf1f5;
                padding: 11px;
                position: relative;

                @include device(mobile){
                    display: none;
                }
                a{
                    color: #727e88;
                    font-size: 18px;
                }
                &:hover{
                    background-color: $primary;
                    a{
                        color: $white;
                    }
                }

                form{
                    &.card{
                        position: absolute;
                        width: 300px;
                        top: -11px;
                        left: 0;
                        z-index: 2;
                        box-shadow: 0px 0px 25px #bdc4c9;
                        transition: all 0.3s ease-in-out;
                        display: none;
                        opacity: 0;

                        &:before{
                            position: absolute;
                            top: 25px;
                            left: -12px;
                            content: "";
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 10px 12px 10px 0;
                            border-color: transparent #ffffff transparent transparent;
                            line-height: 0px;
                            _border-color: #000000 #ffffff #000000 #000000;
                            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
                        }
                    }
                }

                &--open{
                    form{
                        &.card{
                            opacity: 1;
                            display: block;
                        }
                    }
                }
            }

        }
    }

    &--tab{
        align-items: unset;
    }

    &--mobile{
        display: none;
    }
    
}

.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    text-align: center;

    @include device(mobile){
        display: none;
    }

    &:before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        left: 0;
        top: 0;
        background-color: rgba($white, 0.3);
        z-index: 1;
    }

    &__action{
        position: relative;
        padding-top: 60px;
        z-index: 1;
        @include device(tablet){
            padding-top: 35px;
        }
        input{
            display: none;
        }
    }

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        object-position: center;
    }
}

// Tweak for server deploy
.profile__about__item__action--open{
    form{
        &.card{
            opacity: 1;
            display: block;
        }
    }
}

.btn-action-mobile{
    display: none;
}
.open-form-mobile{
    .btn-action-mobile{
        display: flex;
    }
    .btn-switch-mode{
        display: none;
    }
    .profile{
        &--desktop{
            display: none;
        }
        &--mobile{
            display: block;
        }
    }
}