.text-right{
  text-align: right !important;
}
.text-uppercase{
  text-transform: uppercase !important;
}
.font-weight-bold, strong, b{
	font-weight: 700;
}

.ml-auto{
	margin-left: auto !important;
}
.mr-auto{
	margin-right: auto !important;
}
.mr-0{
	margin-right: 0 !important;
}
.mr-20{
	margin-right: 20px !important;
}

.mr-30{
	margin-right: 30px !important;
}

.hide-desktop{
	display: none !important;

	@include device(mobile){
		display: block !important;
	}
}

.hide-mobile{
	display: block !important;

	@include device(mobile){
		display: none !important;
	}
}